.Board {
	display: flex;
	flex-flow: row wrap;
	height: calc(100% - 3rem);
}

.queue, .progress, .done {
	height: 100%;
	width: calc(100% / 3);
	overflow-y: scroll;
}

.queue, .progress {
	border: 0px solid #a3a3a3;
	border-right-width: 1px;
}

.board-title {
	width: 100%;
	color: #555555;
	text-align: center;
	font-size: 1rem;
	padding: 1rem;
}

.card {
	width: calc(100% - 2rem);
	margin-left: 1rem;
	padding: 1rem;
	margin-bottom: 1rem;
	font-size: 0.8rem;
	display: flex;
	flex-flow: row wrap;
}

.card p {
	width: 100%;
	margin-bottom: 0.2rem;
}

.card-bottom {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.card-menu {
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
}

.card-menu div {
	margin-right: 0.5rem;
}

.queue-card {
	border: 1px solid #f8b544;
	background-color: #fef2dd;
}

.queue-card .card-menu {
	color: #f8b544;
	font-weight: bold;
}

.progress-card {
	border: 1px solid #9dda58;
	background-color: #e5feca;
}

.progress-card .card-menu {
	color: #9dda58;
	font-weight: bold;
}

.done-card {
	border: 1px solid #b4bac7;
	background-color: #f7f8fc;
}

.done-card .card-menu {
	color: #b4bac7;
	font-weight: bold;
}

