.column {
  border: {
    width: 0 1px 0 0;
    color: black;
    style: solid;
  }
  width: 33.333%;
  min-height: 500px;
  box-sizing: border-box;
  vertical-align: top;
  flex: 1;

  &:last-child {
    border: none;
  }
}

.column__heading {
  font-size: 23px;
}