* {
  border-style: dotted;
  padding: 2px;
  margin: 0px; }

body {
  padding: 0px; }

.cardList {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between; }
  .cardList .Cards {
    flex: 1 1 100%;
    border-style: solid; }

.input {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }
  .input input {
    flex: 1 1 100%; }

.Boards {
  display: flex;
  flex-flow: row wrap;
  align-items: top-center;
  justify-content: space-between; }
  .Boards .Board {
    flex: 1 1 20%; }

.Header {
  background: #ff0000;
  font-family: 'Amatic SC', cursive; }
