* {
  border-style: dotted;
  padding: 2px;
  margin: 0px;
  font-family: 'Amatic SC', cursive; }

body {
  padding: 0px; }

.cardList {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between; }
  .cardList .Card {
    flex: 1 1 100%;
    border-style: solid;
    font-size: 12px; }

.input {
  display: flex;
  flex-flow: column wrap;
  align: right;
  width: 100%; }
  .input input {
    flex: 1 1 100%; }

.Edit {
  float: none; }

.Delete {
  float: right; }

.Boards {
  display: flex;
  flex-flow: row wrap;
  align-items: top-center;
  justify-content: space-between; }
  .Boards .Board {
    flex: 1 1 20%; }

.Header {
  background: #40e0d0;
  font-size: 20px;
  text-align: center; }
