.statusContainer{
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width:32vw;
  height: 88vw;
  box-shadow: 2px 2px 4px;
  border-radius: 5px;
  margin: .5vw;
}

#Queue{
  background-color: lightpink;
}

#In_Progress{
  background-color: lightblue;
}

#Completed{
  background-color: lightgray;
}

.containerTitle{
  width: 33vw;
  height: 4vw;
  flex-flow: column;
  justify-content: space-around;
}