.Board {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
}

.queue, .progress, .done {
	height: 100%;
	width: 33%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
}

.queue, .progress {
	border: 0px solid #a3a3a3;
	border-right-width: 1px;
}

.board-title {
	width: 100%;
	color: #555555;
	text-align: center;
	font-size: 1rem;
	padding: 1rem;
}

.card {
	width: calc(100% - 2rem);
	padding: 1rem;
	font-size: 0.8rem;
	display: flex;
	flex-flow: row wrap;
}

.card p {
	width: 100%;
	margin-bottom: 0.2rem;
}

.card-bottom {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.card-menu {
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
}

.card-menu div {
	margin-right: 0.5rem;
}

.queue-card {
	border: 1px solid #f8b544;
	background-color: #fef2dd;
}

.progress-card {
	border: 1px solid #9dda58;
	background-color: #e5feca;
}

.done-card {
	border: 1px solid #cbd0dc;
	background-color: #f7f8fc;
}
