$dark-color : #333333;

body {
  background: $dark-color;

}

h1, h2, h3 {
  color: #F1F1F1;
}

#newKanbanCard {

}

#list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.queue{
  display: inline-block;
}

.progress {
  display: inline-block;
}

.done {
  display: inline-block;
}