[data-priority='4'] {
  background-color: red;
}

[data-priority='3'] {
  background-color: orange;
}

[data-priority='2'] {
  background-color: yellow;
}

[data-priority='1'] {
  background-color: green;
}