.cardDetail{
  display: flex;
  flex-flow: column nowrap;
  color: black;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
  position: fixed;
  width: 40vw;
  height: 30vw;
  right: 30vw;
  top: 25vh;
  h3{
    margin:0;
  }
  font-size: 2vw;
}

.priority1{
  background-color: red;
}

.priority2{
  background-color: orange;
}

.priority3{
  background-color: yellow;
}

.priority4{
  background-color: green;
}

.status{
  position: absolute;
  right: 0;
  top: 0;
  height: 6vw;
  width: 6vw;
  border-radius: 3vw;
  box-shadow: 2px 2px 4px grey;
}

.status1{
  background-color: lightpink;
}

.status2{
  background-color: lightblue;
}

.status3{
  background-color: lightgray;
}

.optionBox{
  display: flex;
  flex-flow: row nowrap;
}

.option{
  width: 5vw;
  height: 3vw;
  background-color: darkolivegreen;
  font-size: 2vw;
  cursor:pointer;
  margin: 1vw;
  border-radius: 5px;
  box-shadow: 2px 2px 4px grey;
}