.priority1{
  background-color: red;
}

.priority2{
  background-color: orange;
}

.priority3{
  background-color: yellow;
}

.priority4{
  background-color: green;
}

.card{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 100px;
  height: 75px;
  border-radius: 10px;
  margin: 1vw;
  box-shadow: 2px 2px 4px;
}