.queueColumn {
  width: 33%;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box; }

.progressColumn {
  width: 33%;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box; }

.doneColumn {
  width: 33%;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box; }

.task {
  text-align: center; }

.low {
  background: rgba(0, 191, 255, 0.4); }

.medium {
  background: rgba(0, 250, 154, 0.4); }

.high {
  background: rgba(255, 255, 0, 0.4); }

.blocker {
  background: rgba(255, 0, 0, 0.4); }
