.parent {
  flex-wrap: wrap;
  display: flex; }

.queueColumn, .progressColumn, .doneColumn {
  width: 33%;
  padding: 10px;
  box-sizing: border-box; }

li {
  list-style-type: none;
  list-style-position: inside; }

.task {
  text-align: center; }

.low {
  background: rgba(0, 191, 255, 0.4); }

.medium {
  background: rgba(0, 250, 154, 0.4); }

.high {
  background: rgba(255, 255, 0, 0.4); }

.blocker {
  background: rgba(255, 0, 0, 0.4); }