.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.column {
  padding: 1rem;
  margin-bottom: 1rem;
}

.level{
  padding: 1rem;
  border: 1px solid grey;
  background-color: rgb(74, 74, 74);
  color: grey;
}

.subtitle{
  text-align: center;
  color: grey;
  font-size: 12px;
}

.card{
  font-size: 12px;
  margin: 5px;
}

#inQueueCard {
  background-color: rgb(255, 228, 167);
}

#queueColumn {
  border-right: 1px solid grey;
  height: 100rem;
}

#inProgresColumn {
  border-right: 1px solid grey;
  height: 100rem;
}

.modal{
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
