/* .App {
  text-align: center;
}

.App-logo {
  margin: auto;
  height: 40vmin;
}

.App-logo:hover {
  animation: App-logo-spin infinite 10s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    width: 100%;
    height: 100%
  }
  to {
    width: 1100%;
    height: 1100%;
  }
} */


#tasks {
  width: 99%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 5px solid blue;
  background-color: cornflowerblue;
  border-radius: 9px;
}

.taskCol {
  width: 33%;
  height: 100%;
  /* background-color: cornflowerblue; */
  text-align: center;
}

.toDo, .doing, .done {
  background-color: pink;
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid palevioletred;
  border-radius: 9px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.taskDetails {
  width: 75%;
}

.taskName {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-left: 3%;
}

.taskDescription {
  font-size: 10px;
  text-align: left;
  padding-left: 3%;
}

.editDelete {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}